.skill-section {}

.portfolio-section {
    clip-path: polygon(0 3%, 100% 0%, 100% 100%, 0% 100%);
    background-color: rgb(28, 28, 83);
}

@media screen and (max-width:991px) {
    .portfolio-section {
        clip-path: polygon(0 2%, 100% 0%, 100% 100%, 0% 100%);
    }
}

.about-row {
    background-image: linear-gradient(to right, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5)), url('../../assets/sub-light-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.about-photo {
    width: 400px;
    height: 450px;
}

@media screen and (max-width: 991px) {
    .about-row {
        background-size: contain;
        background-position: center;
    }
    .about-photo {
        width: 350px;
        height: 450px;
        object-fit: cover;
    }
}

.fun-list .list-group-item {
    border-width: 0 0 0 5px !important;
    border-style: solid;
    border-color: #DA1C5E;
}

.top-border {
    border-top: 6px solid #DA1C5E;
}

.skill-photo {
    width: 100%;
}