@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
.navbar-toggler :focus,
button:focus {
    outline: none !important;
}

.navbar-toggler-icon {
    background: none !important;
    font-size: 1.2rem;
    color: #777;
    transition: .5s;
}

.navbar {
    z-index: 1;
    background: #fff;
}

.logo {
    font-family: 'Jockey One', sans-serif;
    padding: .5rem 1rem .5rem .8rem;
    clip-path: polygon(0 0, 88% 21%, 100% 100%, 0% 100%);
    background-image: linear-gradient(to right, rgba(40, 28, 86, .6), rgba(68, 9, 162, .95));
    color: #fff !important;
}

.logo span {
    border-bottom: 2px solid #fff;
}

.btn-mob,
.mobile-icon {
    display: none !important;
}

.react-toggle-track-check,
.react-toggle-track-x {
    top: 10px !important;
}

@media screen and (max-width:991px) {
    .btn-mob {
        display: block !important;
    }
    .mobile-icon {
        display: flex !important;
    }
    .slide-menu {
        transition: .4s ease-in-out;
        position: absolute;
        width: 100%;
        right: -105%;
        top: 56px;
    }
    .slide-in-out {
        background: rgba(255, 255, 255, 0.95);
        right: 0;
        display: block;
        padding: 3rem 0 40rem;
        height: 100vh;
    }
}