.app {
    overflow-x: hidden;
}

.pink-bg {
    background: #DA1C5E;
    color: #fff;
}

.purple-text {
    color: #4307A1;
}

.section-title {
    border-left: 5px solid #DA1C5E;
    padding-left: 1.2rem;
}